region            = "eu-central-1"
azs               = ["eu-central-1a"]
vpc_cidr          = "10.42.0.0/16"
public_subnets    = ["10.42.1.0/24"]
private_subnets   = ["10.42.10.0/24"]
zone_name         = "pokemon-vault.dev"
api_domain        = "dev-api.pokemon-vault.dev"
web_domain        = "dev.pokemon-vault.dev"
web_origin        = "https://dev.pokemon-vault.dev"
db_name           = "pokemon_vault"
db_user           = "pv_app"
db_instance_class = "db.t4g.micro"
redis_node_type   = "cache.t4g.micro"
media_bucket      = "pokemon-vault-media-dev"
backup_bucket     = "pokemon-vault-backups-dev"
image_api         = "ghcr.io/jymchng/pokemon-vault/api:<git-sha>"
image_worker      = "ghcr.io/jymchng/pokemon-vault/worker:<git-sha>"
api_desired       = 1
worker_desired    = 1
min_capacity      = 1
max_capacity      = 2
alerts_email      = "dev@pokemon-vault.dev"
